body{
  margin: 0;
  background-color: #cfcfcf;
  margin: 0 10% 0 10%;
}

.navbar-custom{
  background-color: lightgrey;
  font-family: 'Orbitron', sans-serif;
  font-size: 125%;
  padding-left: 2em;
  padding-right: 4em;
  padding-top: 1em;
  text-overflow: ellipsis;

}

.navbar-custom a:nth-child(2n){
  text-align: center;
  float: inline-end;
}


.navbar-custom img{
  vertical-align: inherit;
}

.contenedor{
  padding: 15px;
  margin: 1em;
  background-color: aliceblue;
  /*border: #000000 solid 1px;*/
  display: grid;
  grid-template-columns: 233.25px auto;
  grid-template-rows: auto 1fr;
  gap: 1em;
}

.hex {
  width:150px;
  height:86px;
  background-repeat: no-repeat;
  background-position: 50% 50%;                   
  /*background-size: auto 173px;  */                                                  
  position: relative;
  margin:75px 20px;
  text-align:center;
  zoom:1;
}

.hex.hex-gap {
  margin-left: 86px;
}

.hex .corner-1,
.hex .corner-2 {
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: inherit;                                                            
  z-index:-2;                                             
  overflow:hidden;                
  backface-visibility: hidden;                    
}

.hex .corner-1 {
  animation: rotate 0.75s linear;
  z-index:-1;
  transform: rotate(60deg);
}

@keyframes rotate {
  from{
    transform: rotate(0deg);
  }to{
    transform: rotate(60deg);
  }
}

@keyframes rotateInverse {
  from{
    transform: rotate(0deg);
  }to{
    transform: rotate(-60deg);
  }
}
.hex .corner-2 {
  animation: rotateInverse 0.75s linear;
  transform: rotate(-60deg);
}

.hex .corner-1:before,
.hex .corner-2:before {
  width: 173px;
  height: 173px;
  content: '';
  position: absolute;
  background: inherit;
  top:0;
  left: 0;

                              
}                              

.hex .corner-1:before {
  transform: rotate(-60deg) translate(-86px, 0px);        
  transform-origin: 0 0;
}                       

.hex .corner-2:before {
  transform: rotate(60deg) translate(-44px, -12px);       
  bottom:0;
}               

.perfil{
  font-size: 1.5em;
  background: #b3b3b3;
  transform-style: preserve-3d;
  padding: 0.8em;
  grid-row: 1/3;
  border-radius: 5px;
}

.ijdimension, 
.lindimension{
  width: 50px;
}

.lindimension{
  scale: 91%;
}

.trabajos{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 0.5em;
}

.trabajos div{
  background-color: #b8b8b8;
  text-align: center;
  border-radius: 5px;
}

.trabajos div:hover{
  transition: all 0.2s;
  transform: scale(1.1);
  box-shadow: 0 0 10px 2px #607ee2;
}

.datos div{
  margin: 20px 0 20px 4px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 75%;
}

.datos a:nth-child(2n){
  padding-left: 10px;
}

.descripcion{
  background-color: #b8b8b8;
  grid-column: 2/3;
  border-radius: 5px;
}

#ojo1{
  z-index: 3;
  font-size: 2em;
  color: #f71a1a;
  position: relative;
  left: -14px;
  top: 1px;
  animation: parpadear 0.3s linear infinite;
  border-radius: 50%;

}

@keyframes parpadear {
  from{
    opacity: 0;
  }to{
    opacity: 1;
  }
}
